<!-- aplikasi_coba/templates/register.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                <div class="text-danger">{{ field.errors }}</div>
            </div>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
    <p>Sudah punya akun? <a href="{% url 'login' %}">Login di sini</a>.</p>
{% endblock %}
